*{
    margin: 0px;
}
.bodycovid{
    height: 100vh;
}
.cov_nav{
    height:10vh;
    display: flex;
}
.cov_tic{
    margin-top: 27px;
    margin-left: 170px;
}
.cov_h1{
    margin-top: 20px;
    margin-left: 10px;
}
.cov_main{
    height:89.5vh;
    display: flex;
}
.cov_mainleft{
    height: 89.5vh;
    width: 45vw;
}
.cov_mainleftimage{
    height:60vh;
    width:20vw;
    margin-left: 170px;
    margin-top: 135px;
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRPjMLyMWIV2kfMd_t8RUK48nEPV4L6AoyqMA&usqp=CAU);
    background-size: 20vw 60vh;
}
.cov_mainright{
    height:89.5vh;
    width:60vw;
}
.cov_mainrightheading{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 40px;
    font-weight: bold;
}
.cov_mainrightcontent{
    margin-left: 20px;
    margin-top: 50px;
    font-size: 18px;
}
.cov_navbutton{
    margin-top: 25px;
    margin-left: 1000px;
    height: 40px;
    width: 90px;
    background-color: red;
    color:white;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
}
.cov_navbutton:hover{
    background-color: white;
    color:red;
    border: 1px solid black;
}