*{
    margin: 0px;
}
body{
    height: 100vh;
}
.Football_nav{
    height:10vh;
    display: flex;
}
.Football_tic{
    margin-top: 27px;
    margin-left: 170px;
}
.Football_h1{
    margin-top: 20px;
    margin-left: 10px;
}
.Football_main{
    height:89.5vh;
    display: flex;
}
.Football_mainleft{
    height: 89.5vh;
    width: 45vw;
}
.Football_mainleftimage{
    height:60vh;
    width:20vw;
    margin-left: 170px;
    margin-top: 135px;
    background: url(https://upload.wikimedia.org/wikipedia/en/thumb/2/26/UEFA_Euro_2024_Logo.svg/440px-UEFA_Euro_2024_Logo.svg.png);
    background-size: 20vw 60vh;
}
.Football_mainright{
    height:89.5vh;
    width:60vw;
}
.Football_mainrightheading{
    margin-top: 20px;
    margin-left: 20px;
    font-size: 40px;
    font-weight: bold;
}
.Football_mainrightcontent{
    margin-left: 20px;
    margin-top: 50px;
    font-size: 18px;
}
.Football_navbutton{
    margin-top: 25px;
    margin-left: 1000px;
    height: 40px;
    width: 90px;
    background-color: red;
    color:white;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
}
.Football_navbutton:hover{
    background-color: white;
    color:red;
    border: 1px solid black;
}